{% extends 'data_entry/base.html' %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <div class="container">
            <h2>Data Entry Login</h2>
            <hr>
            <!-- Sign In Form -->
            <form method="POST" action="{{ url_for('auth.data_entry_login') }}">
                {{ login_form.hidden_tag() }}
                <h3>Sign In</h3>
                <div class="form-group">
                    {{ login_form.logusername.label }}<br>
                    {{ login_form.logusername(size=32, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ login_form.logpassword.label }}<br>
                    {{ login_form.logpassword(size=32, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ login_form.logsubmit(class="btn btn-primary") }}
                </div>
            </form>
        
            <hr>
            <!-- Sign Up Form -->
            <form method="POST" action="{{ url_for('auth.data_entry_signup') }}">
                {{ signup_form.hidden_tag() }}
                <h3>Sign Up</h3>
                <div class="form-group">
                    {{ signup_form.username.label }}<br>
                    {{ signup_form.username(size=32, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ signup_form.password.label }}<br>
                    {{ signup_form.password(size=32, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ signup_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    {% endif %}

    
    <!-- New User creation button and modal -->
    <div class="container">
        <!-- Create User Button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">
            Create User
        </button>

        <!-- Create User Modal -->
        <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('admin.add_user') }}">
                            {{ createuser.hidden_tag() }}
                            <div class="form-group">
                                {{ createuser.username.label(class="form-label") }}
                                {{ createuser.username(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ createuser.password.label(class="form-label") }}
                                {{ createuser.password(class="form-control") }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Display existing users -->
        <table id="users-table" class="table table-striped table-bordered mt-3 text-nowrap">
            <thead class="thead-dark">
                <tr>
                    <th>Uid</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {% if user != current_user %}
                            <!-- Edit Role Button -->
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editRoleModal{{ user.uid }}">
                                Edit Role
                            </button>

                            <!-- Edit Role Modal -->
                            <div class="modal fade" id="editRoleModal{{ user.uid }}" tabindex="-1" aria-labelledby="editRoleModalLabel{{ user.uid }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editRoleModalLabel{{ user.uid }}">Edit Role for {{ user.username }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="{{ url_for('admin.edit_user', uid=user.uid) }}">
                                                <div class="form-group">
                                                    <label for="role{{ user.uid }}" class="form-label">New Role</label>
                                                    <input type="text" id="role{{ user.uid }}" name="role" class="form-control" value="{{ user.role }}">
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Add public info button -->
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#addPublicInfoModal" data-uid="{{ user.uid }}">Add Public Data</button>
                            <!-- Add Public Info Modal -->
                            <div class="modal fade" id="addPublicInfoModal" tabindex="-1" role="dialog" aria-labelledby="addPublicInfoModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addPublicInfoModalLabel">Add Public Info</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="addPublicInfoForm" method="POST" action="{{ url_for('api.add_public_info') }}">
                                                <div class="form-group">
                                                    {{ form.name.label }} {{ form.name(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.dob.label }} {{ form.dob(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.gender.label }} {{ form.gender(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.marital_status.label }} {{ form.marital_status(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.occupation.label }} {{ form.occupation(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.hobbies.label }} {{ form.hobbies(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.caste.label }} {{ form.caste(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.religion.label }} {{ form.religion(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.education.label }} {{ form.education(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.diet.label }} {{ form.diet(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.mother_tongue.label }} {{ form.mother_tongue(class="form-control") }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.smoking_habits.label }} {{ form.smoking_habits() }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.alcohol_intake.label }} {{ form.alcohol_intake() }}
                                                </div>
                                                <input type="hidden" id="user_uid" name="user_uid">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Action Unavailable
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        
    </div>

    <!-- Add new user, add user public info -->
    <script>
        $(document).ready(function() {
            $('#addPublicInfoModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var uid = button.data('uid');
                
                var modal = $(this);
                modal.find('#user_uid').val(uid);
            });

            $('#addPublicInfoForm').on('submit', function (event) {
                event.preventDefault();
                
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        alert('Public info added successfully');
                        $('#addPublicInfoModal').modal('hide');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
        });
    </script>

{% endblock %}