{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Public Information</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>Occupation</th>
                <th>Hobbies</th>
                <th>Caste</th>
                <th>Religion</th>
                <th>Education</th>
                <th>Diet</th>
                <th>Mother Tongue</th>
                <th>Smoking Habits</th>
                <th>Alcohol Intake</th>
            </tr>
        </thead>
        <tbody>
            {% for info in public_infos %}
            <tr>
                <td>{{ info.user_uid }}</td>
                <td>{{ info.name }}</td>
                <td>{{ info.dob }}</td>
                <td>{{ info.gender }}</td>
                <td>{{ info.marital_status }}</td>
                <td>{{ info.occupation }}</td>
                <td>{{ info.hobbies }}</td>
                <td>{{ info.caste }}</td>
                <td>{{ info.religion }}</td>
                <td>{{ info.education }}</td>
                <td>{{ info.diet }}</td>
                <td>{{ info.mother_tongue }}</td>
                <!-- <td>{{info.smoking_habits}}</td>
                <td>{{info.alcohol_intake}} </td> -->
                <td>{{ 'Yes' if info.smoking_habits else 'No' }}</td>
                <td>{{ 'Yes' if info.alcohol_intake else 'No' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
